# Importar os dados do Kaggle

In [ ]:
#import kagglehub
# Download latest version
#path = kagglehub.dataset_download("devansodariya/student-performance-data")
#bprint("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: /Users/fernandodantas/.cache/kagglehub/datasets/devansodariya/student-performance-data/versions/1

## Importar bibliotecas para tratar os dados

In [348]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [349]:
trabalho = pd.read_csv("prin.csv")

### Retiramos colunas irrelevantes ou com falta de informacoes para a analise

In [350]:
trabalho.drop(columns=["school","schoolsup","paid","famsize","Pstatus","Mjob","Fjob","higher","failures","famrel","Walc", "guardian","reason","nursery"], inplace=True)

In [351]:
trabalho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    object
 1   age         395 non-null    int64
 2   address     395 non-null    object
 3   Medu        395 non-null    int64
 4   Fedu        395 non-null    int64
 5   traveltime  395 non-null    int64
 6   studytime   395 non-null    int64
 7   famsup      395 non-null    object
 8   activities  395 non-null    object
 9   internet    395 non-null    object
 10  romantic    395 non-null    object
 11  freetime    395 non-null    int64
 12  goout       395 non-null    int64
 13  Dalc        395 non-null    int64
 14  health      395 non-null    int64
 15  absences    395 non-null    int64
 16  G1          395 non-null    int64
 17  G2          395 non-null    int64
 18  G3          395 non-null    int64
dtypes: int64(13), object(6)
memory usage: 58.8+ KB

### Criando nova coluna com a media dos tres exames

In [352]:
trabalho["media_notas"] = (trabalho["G1"] + trabalho["G3"]+trabalho["G2"])/3

In [353]:
trabalho["media_notas"]

0       5.666667
1       5.333333
2       8.333333
3      14.666667
4       8.666667
         ...
390     9.000000
391    15.333333
392     8.333333
393    11.000000
394     8.666667
Name: media_notas, Length: 395, dtype: float64

In [354]:
trabalho.drop(columns=["G1","G2","G3"], inplace=True)

### Renomeando a escolaridade dos pais para strings

In [355]:
# Definir o mapeamento
mapeamento_Medu = {
    0: 'analfabeto',
    1: 'primario',
    2: 'fundamental',
    3: 'medio',
    4: 'superior'
}
# Aplicar o mapeamento
trabalho['Medu'] = trabalho['Medu'].map(mapeamento_Medu)

mapeamento_Fedu = {
    0: 'analfabeto',
    1: 'primario',
    2: 'fundamental',
    3: 'medio',
    4: 'superior'
}
# Aplicar o mapeamento
trabalho['Fedu'] = trabalho['Fedu'].map(mapeamento_Fedu)

### Removendo observaçoes de pais com escolaridade: analfabetos
### em razao de poucas observacoes que destorceriam a analise

In [356]:
trabalho = trabalho[trabalho['Medu'] != 'analfabeto']
trabalho = trabalho[trabalho['Fedu'] != 'analfabeto']

### criando o dataset final

In [357]:
final = trabalho[["sex", "studytime", "Dalc", "freetime", "internet", "Medu", "Fedu", "media_notas"]]

### renomeando colunas para facilitar ao usuário

In [358]:
final["Sexo"] = final["sex"] 
final["TempoDeEstudo"] = final["studytime"] 
final["ConsumoDeAlcool"] = final["Dalc"] 
final["TempoLivre"] = final["freetime"] 
final["Internet"] = final["internet"] 
final["EscolaridadeDaMae"] = final["Medu"] 
final["EscolaridadeDoPai"] = final["Fedu"] 
final["MediaDeNotas"] = final["media_notas"]

In [359]:
final.drop(columns = ["Dalc","freetime","internet","studytime","sex","media_notas","Medu","Fedu"],inplace=True)

In [346]:
final.to_csv("student_data.csv", index=False)